$theme-colors: (
  "primary": #A3B4B1,
  "secondary": #B1A3B4,
  "light": #fdf8f3,
  "dark": #9D9987
);
// $body-color: #f0fafa;
$body-bg: #fdf8f3;
@import "bootstrap/bootstrap";

@keyframes flash {
  0%   {font-weight: 100;}
  50%  {font-weight: 900;}
  100% {font-weight: 100;}
}

div.splash {
  background-image: url(/assets/temp/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}
div.flash {
  font-size: 2rem;
  animation-name: flash;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
