@charset "utf-8";

$theme-colors: (
  "primary": rgba(125,205,235,1),
  "secondary": rgba(187,196,208,1),
  "light": rgba(240,250,250,1),
  "dark": rgba(29,61,100,1)
);
$body-color: rgba(240,250,250,1);
$body-bg: rgba(29,61,100,1);
@import "bootstrap/bootstrap";
